.navbar{
	background-color:black;
}

.nav-item{
		border-top:5px solid black !important;
}

.select_nav{
	border-top:5px solid #E6C319 !important;
}

.highlight{
	color: #C18113;
}
 
.btn-shadow{
	box-shadow: 0px 3px 6px 0px #888888;
}