.navbar{
	
}

.nav-item{
		border-top:5px solid #343A40 !important;
}

.select_nav{
	border-top:5px solid #E6C319 !important;
}

.highlight{
	color: #C18113;
}

.text-beige{
	color: #92703D;
}
 
.border-beige{
	border:1px solid #92703D !important;
}

.border-top-beige{
	border-top:1px solid #92703D !important;
}

.border-top-erl{
	border-top:5px solid #F2C900 !important;
}


.btn-shadow, .card-shadow{
	box-shadow: 0px 1px 1px 0px #888888;
}

.btn {
    text-shadow: 1px 1px #888888;
}

.quote-card {
  background: #fff;
  color: #C18113;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
   position: relative;
  overflow: hidden;
  min-height: 120px;
}
.quote-card p {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color:#C18113;
  font-weight: normal;
}
.quote-card:after {
  
}

.text-warning {
    text-shadow: 1px 1px #000000;
}

