
<div class="container-fluid border-top-erl" style="background-color: #000000; display: block; width: 100%">
	<div class="row py-3 pt-5 ">
		<!-- footer column 1 start -->
		<div class="col-md-4 ">
			<!-- row start -->
			<div class="row py-2">
				<div class="col-sm-3 hidden-md-down"></div>
				<div class="col-sm-9 text-white">Home</div>

				<div class="col-sm-3 hidden-md-down"></div>
				<div class="col-sm-9 text-white">Join Us</div>
			</div>
			<!-- row end -->
		</div>
		<!-- footer column 1 end -->
		<!-- footer column 2 start -->
		<div class="col-md-4 ">
			<!-- row start -->
			<div class="row py-2">
				<div class="col-md-12 text-white text-center">Connect With Us !</div>
			</div>
			<!-- row end -->
			<!-- row start -->
			<div class="row ">
				<div class="col-md-12 text-center text-white ">
					<a href="https://wa.me/6281286025540"><i class="fab fa-whatsapp-square fa-2x text-success"></i> </a>
					<a href="http://m.facebook.com/?hrc=1&refsrc=http%3A%2F%2Fwww.google.co.id%2F&_rdr"><i class="fab fa-facebook fa-2x text-primary"></i></a>
				</div>
			</div>
			<div class="col-md-12 text-white text-center pt-5">
				© Copyright 2018 bisnisberlcosmetics.com. All rights are reserved.
			</div>
		</div>
		<!-- row end -->
		<div class="col-md-4 text-white pb-5">
			<div class="row ">BERL Cosmetics </div>
		</div>
	</div>
</div>