<!DOCTYPE html>
<html lang="en">
<head>
  <title>BERL Cosmetics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


<div class="container"> 

  <div class="container">
  	<div class="col-md-12 bg-dark text-warning">
      
    <div class="row ">
      <!--1st segment -->

      <div class="col-md-12 text-center h1 mt-5 text-warning">WOW! </div>
      <div class="col-md-12 text-center h4 mt-5 mx-0">
      	<strong><span class="highlight"></span> Peluang berharga ini berpotensi MELEDAKAN tambahan <span class="highlight">INCOME</span> anda hingga <span class="highlight">PULUHAN JUTA</span> rupiah setiap bulan!</strong>
      </div>
      <div class="col-md-12 text-center h3 py-4 my-2 ">
      	<strong class="text-warning">Siapa lagi yang mau kebanjiran RUPIAH ? </strong>
      </div>
      <div class="col-md-12 text-center h4">
      	hanya koloran & Dasteran dari rumah?
      </div>
      
      <div class="col-md-12 text-center h4">
      	Lebih dari 10.000+ orang telah gabung menjadi Berl Family.
      </div>
      <div class="col-md-12 text-center h2 py-5 my-2 mx-auto">
      	
      	<a class="btn btn-warning btn-lg btn-shadow text-white py-3 " href="{baseUrl}resellers/register"> 
      			<span class="h2">	
      				<strong>Kini giliran Anda !</strong>
      			</span>
      	</a>      
      </div>

      </div>
      </div>

      <!--2nd segment -->
      <div class="col-md-12 px-5 py-3 bg-warning">	
      	<div class="row">	
		      <!--Segment Title-->
		      <div class="col-md-2 text-center h1"></div>
		      <div class="col-md-8 text-center display-4 py-3"> <small>Apakah anda mengalami kendala seperti dibawah ini?</small></div>
		      <div class="col-md-2 text-center h1"> </div>
			  <!--Split two #1-->
		      <div class="col-md-6 text-center pt-5 mt-5">
		      	<div class="row ">
		      		<div class="col-md-12 text-left h2 font-weight-light">Ingin bisnis tapi </div>
		      		<div class="col-md-12 text-left h2 font-weight-bold highlight pb-4">belum punya mentor?</div> 
		      		<div class="col-md-12 text-left h2 font-weight-light">Sudah punya bisnins tapi </div>
		      		<div class="col-md-12 text-left h2 font-weight-bold highlight pb-4">penghasilan pas-pasan?</div> 
		      		<div class="col-md-12 text-left h2 font-weight-light">Ingin jadi pengusaha tapi</div>
		      		<div class="col-md-12 text-left h2 font-weight-bold highlight pb-4">bingung mau bisnis apa?</div> 
		      		<div class="col-md-12 text-left h2 font-weight-light">Sudah punya usaha tapi </div>
		      		<div class="col-md-12 text-left h2 font-weight-bold highlight pb-4">belum bisa menghasilkan?</div> 
		      		<div class="col-md-12 text-left h2 font-weight-light">Udah promosi kesana kemari tapi</div>
		      		<div class="col-md-12 text-left h2 font-weight-bold highlight pb-4">produk gak laku-laku?</div></div>
		      </div>
		      <!--Split two #2-->
		      <div class="col-md-6 py-5 my-auto"><img class="img-fluid"  src="assets/img/qmark.png"> </div>
	      </div>
      </div>

        <!--3rd segment -->
	  	<div class="col-md-12 px-5 py-5">	
	      	<div class="row">	
			      <!--Segment Title-->		      
			      <div class="col-md-12 text-center h1 py-3 highlight"> <strong>Jika Jawaban mu <span class="text-dark">iya</span> disini solusinya !</strong></div>
			      
				  <!--Split two #1-->
				  <div class="col-md-6 text-center h1  mt-5"><img  class="img-fluid" 	src="	assets/img/seller.jpg"> </div>
			      
			      <!--Split two #2-->
			      <div class="col-md-6 text-center pt-1 mt-5">
			      	<div class="row ">
			      		<div class="col-md-12 text-left h3 font-weight-bold pb-4">Hallo Mas Bro & Mba Sis!</div> 
			      		<div class="col-md-12 text-left h3 font-weight-light">
			      			Terima kasih sudah berkunjung ke website ini. Saya yakin, Anda adalah orang luar biasa!
						</div>  
						<div class="col-md-12 text-left h3 font-weight-light">		      			
							Tidak salah Anda berkunjung ke Website ini, jelas Anda juga ingin SUKSES jualan Produk BERL COSMETICS.!
						</div>  
						<div class="col-md-12 text-left h3 font-weight-light">
							Pencapaian  tidak kami jalankan hanya sendiri, melainkan dibantu oleh Team Reseller yang WOW!
						</div>  
						<div class="col-md-12 text-left h3 font-weight-light">
							Jangan dulu kagum terhadap kami! Karena hari ini Anda menjadi bagian dari WOW Seller tersebut!
						</div>  		
			      	</div>		      
		      	  </div>
	      	</div>	
		</div>

		<!--4th segment -->
		<div class="col-md-12 px-5 py-3 bg-dark text-warning">	
			<div class="row">	
		      <!--Segment Title-->		     
		      <div class="col-md-12 text-center h2 py-5 font-weight-bold">Tahukah Anda, kenapa harus join Berlcosmetics?</div>
		      
			  <!--Split two #1-->
		      <div class="col-md-12 mx-auto px-auto py-3 ">
		      	<div class="row ">
		      		<div class="col-md-1 "></div>
		      		<div class=" col-md-5">
		      			<div class="row py-3">
		      				<div class="col-md-3 col-4 pr-auto my-auto highlight">		      					
		      					<span class="fa-stack fa-2x">
								  <i class="fas fa-circle fa-stack-1x fa-inverse"></i>
								  <i class="fas fa-check fa-stack-1x"></i>
								</span>
		      				</div>
		      				<div class="col-md-9 col-8 h4 px-0 mx-0 font-weight-bold text-left ">Bisa Dropship, Tanpa Stok, Tanpa Ribet.</div>
							<div class="col-md-3 my-auto highlight"> </div>
		      				<div class="col-md-9 mx-0 px-3 pt-3"> Tenang saja. Anda gak perlu menuhin gudang dengan stok barang. Anda pun gak perlu sibuk packing-packing setiap kali ada orderan. Biar kami yang melakukan itu semua. Tugas Anda cuma satu: promosi dan jalan-jalan Cukup. HEHEHE</div>		      			
		      			</div>		      			 
		      		</div> 
		      		<div class=" col-md-5">
		      			<div class="row py-3">
		      				<div class="col-md-3 col-4 pr-auto my-auto highlight">		      					
		      					<span class="fa-stack fa-2x">
								  <i class="fas fa-circle fa-stack-1x fa-inverse"></i>
								  <i class="fas fa-check fa-stack-1x"></i>
								</span>
		      				</div>
		      				<div class="col-md-9 col-8 h4 px-0 mx-0 font-weight-bold text-left ">Bisa Dropship, Tanpa Stok, Tanpa Ribet.</div>
							<div class="col-md-3 my-auto highlight"> </div>
		      				<div class="col-md-9 mx-0 px-3 pt-3"> Tenang saja. Anda gak perlu menuhin gudang dengan stok barang. Anda pun gak perlu sibuk packing-packing setiap kali ada orderan. Biar kami yang melakukan itu semua. Tugas Anda cuma satu: promosi dan jalan-jalan Cukup. HEHEHE</div>		      			
		      			</div>		      			 
		      		</div> 
		      		<div class="col-md-1"></div>
		      		<div class="col-md-1 "></div>
		      		<div class=" col-md-5">
		      			<div class="row py-3">
		      				<div class="col-md-3 col-4 pr-auto my-auto highlight">		      					
		      					<span class="fa-stack fa-2x">
								  <i class="fas fa-circle fa-stack-1x fa-inverse"></i>
								  <i class="fas fa-check fa-stack-1x"></i>
								</span>
		      				</div>
		      				<div class="col-md-9 col-8 h4 px-0 mx-0 font-weight-bold text-left ">Bisa Dropship, Tanpa Stok, Tanpa Ribet.</div>
							<div class="col-md-3 my-auto highlight"> </div>
		      				<div class="col-md-9 mx-0 px-3 pt-3"> Tenang saja. Anda gak perlu menuhin gudang dengan stok barang. Anda pun gak perlu sibuk packing-packing setiap kali ada orderan. Biar kami yang melakukan itu semua. Tugas Anda cuma satu: promosi dan jalan-jalan Cukup. HEHEHE</div>		      			
		      			</div>		      			 
		      		</div> 
		      		<div class=" col-md-5">
		      			<div class="row py-3">
		      				<div class="col-md-3 col-4 pr-auto my-auto highlight">		      					
		      					<span class="fa-stack fa-2x">
								  <i class="fas fa-circle fa-stack-1x fa-inverse"></i>
								  <i class="fas fa-check fa-stack-1x"></i>
								</span>
		      				</div>
		      				<div class="col-md-9 col-8 h4 px-0 mx-0 font-weight-bold text-left ">Bisa Dropship, Tanpa Stok, Tanpa Ribet.</div>
							<div class="col-md-3 my-auto highlight"> </div>
		      				<div class="col-md-9 mx-0 px-3 pt-3"> Tenang saja. Anda gak perlu menuhin gudang dengan stok barang. Anda pun gak perlu sibuk packing-packing setiap kali ada orderan. Biar kami yang melakukan itu semua. Tugas Anda cuma satu: promosi dan jalan-jalan Cukup. HEHEHE</div>		      			
		      			</div>		      			 
		      		</div> 
		      		<div class="col-md-1"></div>

		      	</div>
		  	  </div>
			</div>
 		</div>

 		<!--5th segment -->
		<div class="col-md-12 py-3 px-5 bg-warning">	
			<div class="row">	
		      <!--Segment Title-->		     
		      <div class="col-md-12 text-center h2 py-3 font-weight-bold highlight ">Berikut ini Produk yang akan Anda Jual</div>		      
			   <div class="col-md-12">
				   <div class="card-deck py-5">
					  <div class="card card-shadow py-3">
					    <img class="card-img-top mx-auto" style="max-width:50px; max-height:300px ;" src="assets/img/products/product1.png" >
					    <div class="card-body py-0">
					      <h5 class="card-title highlight text-center font-weight-bold" style="font-family: 'Nanum Gothic'">FACIAL SERUM</h5>
					      
						  <div class="text-center">
							<a class="btn btn-warning btn-sm text-white " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Cek Disini 
							</a>
							<div class="collapse pt-3" id="collapseExample">
							   <div class="card card-body text-left">							     
							      <p class="card-text small text-center">
							      	Serum wajah yang memiliki konsentrasi tinggi sehingga cepat meresap kedalam kulit. Bahan aktif dalam jumlah ganda dibanding cream atau lotion.			      
								  </p>
							   </div>
							</div>
						  </div>						  
					    </div>
					  </div>
					  <!--1ST card -->
					  <div class="card card-shadow py-3">
					    <img class="card-img-top mx-auto" style="max-width:50px; max-height:300px ;" src="assets/img/products/product2.png" >
					    <div class="card-body py-0">
					      <h5 class="card-title highlight text-center font-weight-bold" style="font-family: 'Nanum Gothic'">FINE FAIRNESS CREAM</h5>
					      
						  <div class="text-center">
							<a class="btn btn-warning btn-sm text-white " data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample"> Cek Disini 
					  		</a>
						  <div class="collapse pt-3" id="collapseExample2">
						   	<div class="card card-body text-left">
						    	<p class="card-text text-center small">Terobosan baru yang memiliki banyak kelebihan dibanding produk sejenis. Tekstur sangat ringan sehingga menghasilkan riasan yang tidak berat diwajah tapi daya covernya tetap maksimal.		      
						  		</p>
						    </div>
						   </div>
						  </div>						  
					    </div>
					  </div>
					  <!--2nd card -->
					  <div class="card card-shadow py-3">
					    <img class="card-img-top mx-auto" style="max-width:50px; max-height:300px ;" src="assets/img/products/product3.png" >
					    <div class="card-body py-0">
					      <h5 class="card-title highlight text-center font-weight-bold" style="font-family: 'Nanum Gothic'">THE MAKE UP ERASER</h5>
					      
						  <div class="text-center">
							<a class="btn btn-warning btn-sm text-white " data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample"> Cek Disini 
					  		</a>
						  <div class="collapse pt-3" id="collapseExample3">
						   <div class="card card-body ">
						     <p class="card-text text-center small">Bukan sekedar Pembersih dan penghapus make up biasa karena produk ini juga mampu menjaga, merawat serta melindungi wajah cantikmu dari polusi jahat			      
						  	 </p>
						   </div>
						  </div>
						 </div>						  
					    </div>
					  </div>
				   </div>

				   <div class="card-deck py-3">

				    <div class="card card-shadow py-5">
					    <img class="card-img-top mx-auto" style=" max-height:250px; max-width:180px " src="assets/img/products/product4.png" >
					    <div class="card-body">
					      <h5 class="card-title highlight text-center font-weight-bold" style="font-family: 'Nanum Gothic'">INTENSE LIGHTNING SERIES</h5>
					      
						  <div class="text-center">
							<a class="btn btn-warning btn-sm text-white " data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample"> Cek Disini 
					  		</a>
						    <div class="collapse pt-3" id="collapseExample4">
						      <div class="card card-body text-left">
						        <p class="card-text text-center small">Paket perawatan pencerah wajah yang terdiri dari 4 langkah skincare rutin yang merupakan kebutuhan wajib bagi kulit. Diformulasikan cocok bagi semua jenis kulit mulai dari kalangan remaja hingga dewasa baik pria maupun wanita.			      
						  		</p>
						      </div>
						     </div>
						    </div>						  
						</div>
					   </div>

				    <div class="card card-shadow py-5">
					    <img class="card-img-top mx-auto" style="max-width:50px; max-height:300px ;" src="assets/img/products/product5.png" >
					    <div class="card-body">
					      <h5 class="card-title highlight text-center font-weight-bold" style="font-family: 'Nanum Gothic'">BODY SERUM</h5>
					      
						  <div class="text-center">
							<a class="btn btn-warning btn-sm text-white " data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5"> Cek Disini 
					  		</a>
						    <div class="collapse pt-3" id="collapseExample5">
						      <div class="card card-body text-left">
						        <p class="card-text text-center small">Jika produk lain seperti body lotion hanya bisa memberi perubahan dengan pemakaian rutin dan setelah beberapa minggu, maka Body Serum ini sudah dapat memberikan efek mencerahkan seketika sejak pemakaian pertama.			      
						  		</p>
						      </div>
						     </div>
						    </div>						  
						</div>
					   </div>

				    <div class="card card-shadow py-5">
					    <img class="card-img-top mx-auto" style="max-width:90px; max-height:300px ;" src="assets/img/products/product6.png" >
					    <div class="card-body">
					      <h5 class="card-title highlight text-center font-weight-bold" style="font-family: 'Nanum Gothic'">BEAUTY MATTE CREAM</h5>
					      
						  <div class="text-center">
							<a class="btn btn-warning btn-sm text-white " data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6"> 
								Cek Disini 
					  		</a>
						    <div class="collapse pt-3" id="collapseExample6">
						      <div class="card card-body text-left">
						        <p class="card-text text-center small">Formulanya yang ringan mampu menempel tanpa membuat bibir kering atau cracky. Aman juga digunakan untuk kebutuhan sehari-hari karena free paraben dan zat kimia lain yang berbahaya.			      
						  		</p>
						      </div>
						     </div>
						    </div>						  
						</div>
					   </div>

				   </div>
			   </div>
			</div>
 		</div>

 		<!--6th segment -->
 		<div class="col-md-12 py-3 px-4" style="background-color: #000000">
 			<div class="row">
 				<div class="col-md-12 h1 px-5 py-4 text-center text-warning" style="font-family: 'Nanum Gothic', cursive;">Persembahan produk-produk skin care dan kosmetik berkualitas premium yang aman dan halal. </div>

 				<div class="col-md-12 h5 px-5 py-4 text-center text-white ">Kami memadukan kecanggihan teknologi dibidang kecantikan seperti bahan aktif <span class="text-warning">WoW capsule technology	</span> dari Korea, dengan keajaiban yang disediakan oleh alam seperti <span class="text-warning">Grape Seed Oil</span> dan ekstrak <span class="text-warning">Witch Hazel</span>. BERL Cosmetic, cantik bersinar diluar dan penuh ketenangan di dalam.</div>

 				<div class="col-md-12 h2 text-center text-white"><img class="img-fluid" src="assets/img/berlbg4.png"></div>

 				<div class="col-md-12 text-center py-5 my-2 mx-auto">					
		      		<a class="btn btn-outline-warning btn-lg text-warning py-3" href="{baseUrl}resellers/register"> <span class="h4">	<strong>Daftar Sekarang!</strong></span>
		      		</a>     
		      	</div>
 			</div>
		</div>

 		<!--7th segment -->
	  	<div class="col-md-12 px-5 py-5">	
	      	<div class="row">	
		      <!--Segment Title-->		      
		      <div class="col-md-12 text-center h1 py-3 highlight"> <strong>Tapi sistemnya gimana sih?</strong></div>			      
		      <div class="col-md-12">
				   <div class="card-deck py-4 	">
					  <div class="card  border-beige card-shadow">					  	 
				  		<div class="row text-center">
				  			<div class="col-md-12 p-2"><img class="  img-fluid" src="assets/img/dropship.jpg"></div>
				  			 
				  		</div>
					     
					  </div>					  	
				   </div>				  
			</div>
		</div>

		<!--7th segment -->
	  	<div class="col-md-12 px-5 py-5">	
	      	<div class="row">	
		      <div class="card-columns">
				  <div class="card">
				    <img class="card-img-top" src="assets/img/testimoni/testi1.jpg" alt="Card image cap">				    
				  </div>

				  <div class="card p-3">
				     <img class="card-img" src="assets/img/testimoni/testi3.jpg" alt="Card image">
				  </div>

				  <div class="card">
				    <img class="card-img-top" src="assets/img/testimoni/testi2.jpg" alt="Card image cap">				    
				  </div>

				  <div class="card bg-dark text-white text-center p-3">
				    <blockquote class="blockquote mb-0">
				      <p>PRODUK BERL INI SUDAH LAKU KERAS DIPASARAN !</p>				      
				    </blockquote>
				  </div>

				  <div class="card">
				     <img class="card-img" src="assets/img/testimoni/testi7.jpg" alt="Card image">
				  </div>

				  <div class="card">
				    <img class="card-img" src="assets/img/testimoni/testi9.jpg" alt="Card image">
				  </div>

				  <div class="card p-3 text-right">
				     <img class="card-img" src="assets/img/testimoni/testi5.jpg" alt="Card image">
				  </div>

				  <div class="card">
				     <img class="card-img" src="assets/img/testimoni/testi4.jpg" alt="Card image">
				  </div>

				</div>			  
			</div>
		</div>

		<!--7th segment -->
	  	<div class="col-md-12 px-5 py-5">	
	      	<div class="row">	
		      <!--Segment Title-->		      
		      <div class="col-md-12 text-center h1 py-3 highlight"> <strong>Simak apa kata mereka?</strong></div>			      
		      <div class="col-md-12">
				   <div class="card-deck py-4 	">
					  <div class="card  border-beige card-shadow">					  	 
				  		<div class="row text-center">
				  			<div class="col-md-4 py-2 px-1"><img class="  img-fluid" src="assets/img/testi/user1.png"></div>
				  			<div class="col-md-8 my-auto">
				  				<blockquote class="quote-card">
					              <p class="text-left px-2">
					                Lorem ipsum dolor sit amet, ea eros paulo nominavi vim, modus zril dolorem eu est. Id dicam volumus qui, duis fierent usu no. Eu sit melius dolorem, pro copiosae adolescens te. An fugit quaestio mei, pri ea soleat feugait. Tale brute an vix. Sea et civibus aliquando intellegam.
					              </p>			        
					              <cite></cite>
					            </blockquote>
				  			</div>
				  		</div>
					    <div class="card-body bg-warning py-3"style="background-color: #FFF9D9">
					      <h5 class="card-title highlight text-center text-black font-weight-bold mb-0" style="font-family: 'Nanum Gothic', cursive;">IRMA NAULLY</h5>
					      <p class="card-text text-center  font-weight-bold pt-0 text-black"> bisnisberlcosmetics.com </p>
					    </div>
					  </div>					  	
				   </div>

				   <div class="card-deck py-4">
					  <div class="card  border-beige card-shadow">					  	 
				  		<div class="row text-center">
				  			<div class="col-md-4 p-2"><img class="  img-fluid" src="assets/img/testi/user1.png"></div>
				  			<div class="col-md-8 my-auto">
				  				<blockquote class="quote-card">
					              <p>
					                <small>Lorem ipsum dolor sit amet, ea eros paulo nominavi vim, modus zril dolorem eu est. Id dicam volumus qui, duis fierent usu no. Eu sit melius dolorem, pro copiosae adolescens te. An fugit quaestio mei, pri ea soleat feugait. Tale brute an vix. Sea et civibus aliquando intellegam.. </small>
					              </p>			        
					              <cite></cite>
					            </blockquote>
				  			</div>
				  		</div>
					    <div class="card-body bg-warning py-3"style="background-color: #FFF9D9">
					      <h5 class="card-title highlight text-center text-black font-weight-bold mb-0" style="font-family: 'Nanum Gothic', cursive;">IRMA NAULLY</h5>
					      <p class="card-text text-center  font-weight-bold pt-0 text-black"> bisnisberlcosmetics.com </p>
					    </div>
					  </div>					  	
				   </div>
			  </div>

			  <div class="col-md-12 text-center my-2 mx-auto">
			  	<div class="col-md-12 text-center h3 py-3 highlight"> <strong>Ikuti langkah sukses mereka!</strong></div>
			  	
		      	<a class="btn btn-warning btn-lg btn-shadow text-white py-3 " href="{baseUrl}resellers/register"> <span class="h4">	<strong>Daftar Sekarang !</strong></span></a>      
		      </div>		  
	      	</div>	
		</div>

		<!--8th segment -->
 		<div class="col-md-12 py-3 px-0">
 			<div class="row">
 				<div class="col-md-12 h2 px-5 py-4 text-center bg-warning">Berikut ini kami tampilkan mereka yang telah mendapatkan REWARD</div>
 				<div class="col-md-12 h2 py-5 text-center text-white"><img class="img-fluid" src="assets/img/leaderboard.png"></div>

 				<div class="col-md-12 text-center h1 py-3 highlight"> <strong>Tidak menutup kemungkinan, di bulan depan,nama Anda tercantum di atas ^_^ aamiin.....</strong>
 				</div> 				
 			</div>
		</div>

		<!--4th segment -->
		<div class="col-md-12 px-5 py-3 text-warning bg-dark" style="background-color: #FFF9D9">	
			<div class="row">	
		      <!--Segment Title-->		     
		      <div class="col-md-12 text-center h2 pt-5 font-weight-bold">Ada lagi keuntunganya ?</div>
		      <div class="col-md-12 text-center h5 pt-3">Dengan Join Di Reseller <span class="highlight">bisnisberlcosmetics</span> Anda Tidak Perlu</div>
		      
			  <!--Split two #1-->
		      <div class="col-md-12 mx-auto px-auto py-5">
		      	<div class="row ">
		      		<div class="col-md-1 "></div>
		      		<div class=" col-md-5">
		      			<div class="row py-3">
		      				<div class="col-md-3 col-4 pr-auto my-auto highlight">		      					
		      					<i class="fas fa-gift fa-2x"></i>
		      				</div>
		      				<div class="col-md-9 col-8 h4 px-0 mx-0 font-weight-light text-left ">Bersusah payah membuat produk yang <span class="font-weight-bold">BELUM TENTU LAKU !	</span></div>
							<div class="col-md-3 my-auto highlight"> </div>		      			
		      			</div>		      			 
		      		</div> 
		      		<div class=" col-md-5">
		      			<div class="row py-3">
		      				<div class="col-md-3 col-4 pr-auto my-auto highlight">		      					
		      					<i class="fas fa-sun  fa-2x"></i>
		      				</div>
		      				<div class="col-md-9 col-8 h4 px-0 mx-0  font-weight-light  text-left ">Capek-Capek Packing Produk dan <span class="font-weight-bold">MENGURAS-NGURAS KERINGAT !</span></div>
							<div class="col-md-3 my-auto highlight"> </div> 	      			
		      			</div>		      			 
		      		</div> 
		      		<div class="col-md-1"></div>
		      		<div class="col-md-1 "></div>
		      		<div class=" col-md-5">
		      			<div class="row py-3">
		      				<div class="col-md-3 col-4 pr-auto my-auto highlight">		      					
		      					<i class="fas fa-house-damage fa-2x"></i>
		      				</div>
		      				<div class="col-md-9 col-8 h4 px-0 mx-0  font-weight-light  text-left ">Meninggalkan Keluarga Anda (pasangan & anak) tercinta <span class="font-weight-bold"> HANYA DEMI INCOME BULANAN!</span></div>
							<div class="col-md-3 my-auto highlight"> </div> 		      			
		      			</div>		      			 
		      		</div> 
		      		<div class=" col-md-5">
		      			<div class="row py-3">
		      				<div class="col-md-3 col-4 pr-auto my-auto highlight">		      					
		      					<i class="fas fa-times  fa-2x"></i>
		      				</div>
		      				<div class="col-md-9 col-8 h4 px-0 mx-0  font-weight-light text-left ">Menghabiskan waktu untuk <span class="font-weight-bold">TRIAL DAN ERROR</span> dalam berjualan Online</div>
							<div class="col-md-3 my-auto highlight"> </div> 	      			
		      			</div>		      			 
		      		</div> 
		      		<div class="col-md-1"></div>

		      	</div>
		  	  </div>
			</div>
 		</div>

		<!--9th segment -->
		<div class="col-md-12 py-3 px-5 bg-warning">	
			<div class="row">	
		      <!--Segment Title-->		     
		      <div class="col-md-12 text-center h2 py-3 font-weight-bold highlight ">Berikut ini hadiah yang bisa anda dapatkan !</div>		      
			   <div class="col-md-12">
				   <div class="card-deck py-3" >
					  <div class="card py-auto border-0 "style="background-color: #FFF093">
					    <img class="card-img-top mx-auto"  src="assets/img/reward/reward1.png" >					     
					  </div>	
					  <div class="card py-auto border-0 "style="background-color: #FFF093">
					    <img class="card-img-top mx-auto"  src="assets/img/reward/reward2.png" >					     
					  </div>			  
				   </div>
				   <div class="card-deck py-3" >
					  <div class="card py-auto border-0 "style="background-color: #FFF093">
					    <img class="card-img-top mx-auto"  src="assets/img/reward/reward3.png" >					     
					  </div>	
					  <div class="card py-auto border-0 "style="background-color: #FFF093">
					    <img class="card-img-top mx-auto"  src="assets/img/reward/reward4.png" >					     
					  </div>			  
				   </div>				   
			   </div>
			</div>
 		</div>

 		<!--9th segment -->
		<div class="col-md-12 py-3 px-5">	
			<div class="row">	
		      <!--Segment Title-->		     
		      <div class="col-md-12 text-center h2 py-3 font-weight-bold highlight ">Ada lagi, anda juga akan mendapatkan produk terbaik kami sebagai BONUS ketika anda join !</div>		
		       <div	class="col-md-12 ">
		       	<img class=" mx-auto d-block py-3"  src="assets/img/bonus.png">
		       </div>	      
			   <div class="col-md-12  text-center h4">1 Pcs Facial Serum senilai Rp 250.000</div>
			   <div class="col-md-12  text-center h4">1 Pcs Fine & Fairness Cream senilai Rp 250.000</div>
			   <div class="col-md-12  text-center h4">1 Pcs Body Serum senilai Rp 190.000</div>
			   <div class="col-md-12  text-center h4">2 Pcs Lip Treatment senilai Rp 190.000</div>
			   <div class="col-md-12  text-center h4">1 Pcs Lip Matte senilai Rp 180.000</div>
			   <div class="col-md-12  text-center h4">1 Makeup Remover Treatment senilai Rp 185.000</div>

			   <div class="col-md-12  text-center h1 font-weight-bold py-3">Total produk yang anda dapatkan senilai </div>
			   <div class="col-md-12  text-center h1 ">Rp 1.845.000</div>
			   <div class="col-md-12  text-center h1 font-weight-bold">Namun, anda cukup berinvestasi :	</div>
			   <div class="col-md-12  text-center h1 text-danger"><s> RP. 1.250.000 </s></div>
			   <div class="col-md-12  text-center h1 text-success">RP. 1.045.000	</div>
			   	
			</div>
 		</div>

 		<div class="col-md-4 text-center h2 py-3 my-2 mx-auto">
      		<a class="btn btn-warning btn-lg btn-shadow text-white py-3 "  href="{baseUrl}resellers/register"> <span class="h2">	<strong>Daftar disini !</strong></span></a>      
        </div>

        <div class="col-md-4 text-center h3 mx-auto py-4 my-4"> Atau </div>

        <div class="col-md-4 text-center h2 py-3 my-2 mx-auto">
        	<a href="https://wa.me/6281286025540">
        	 <button type="button" class="btn btn-success btn-lg btn-shadow text-white py-3 "> <span class="h4">	<i class="fab fa-whatsapp-square "> </i> Hubungi saya ! </span></button>
        	</a>       		      
        </div>


        <!--10th segment -->
		<div class="col-md-12 px-auto px-5	 py-3" style="background-color: #FFF9D9">	
			<div class="row">	
		      <!--Segment Title-->		     
		      <div class="col-md-12 text-center h2 py-3 font-weight-bold">Beberapa Hal Yang Mungkin Ditanyakan :	</div>		      
			  <!--Split two #1-->
		      <div class="col-md-12 pt-5 pb-0">
		      	<div class="row ">
		      		<div class=" col-md-12">
		      			<div class="row ">		      				
		      				<div class="col-md-12 font-weight-bold text-left h4"> <i class="far fa-question-circle highlight"></i> Apakah akan di bimbing secara online ?</div>	
		      				<div class="col-md-12 pt-3"> 
		      				Ya, Tentu saja. Anda akan tergabung dalam <strong>Bimbingan/Group Facebook dan di Channel Telegram</strong> yang akan membahas tentang Online Shop secara mendalam.
							Plus GRATIS untuk akses ke member area yang berisi banyak video pembelajaran, artikel bisnis, marketing kit, dan masih banyak lagi…
		      				</div>		      			
		      			</div>		      			 
		      		</div> 
		      		<div class=" col-md-12 pt-5">
		      			<div class="row ">		      				
		      				<div class="col-md-12 font-weight-bold text-left h4"> <i class="far fa-question-circle highlight"></i> Apakah Program Reseller ini merupakan layanan Lifetime / seumur hidup?</div>	
		      				<div class="col-md-12 pt-3"> 		      				
							Ya, Anda hanya membayar sekali untuk menjadi tim penjualan kami berkali kali!
							<strong>Daftar sekarang!</strong> karena tidak menutup kemungkinan kami akan membuat akses reseller ini berbayar tahunan.
							Atau bahkan BULANAN
		      				</div>		      			
		      			</div>		      			 
		      		</div>  
		      	</div>
		  	  </div>
			</div>
 		</div> 

      </div>
    </div>
</div>

</body>
</html>