<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BisnisBerlCosmetics.com</title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
</head>
<body>
<p><h2>BisnisBerlCosmetics.com</h2></p>
<hr>
<p><b>Terima kasih telah melakukan registrasi di BisnisBerlCosmetics.com</b></p>
<p><b>Registrasi Reseller Baru:</b></p>
<p>Nama : {reseller_name}</p>
<p>No. Telp/Whatsapp : {reseller_phone}</p>
<p>E-mail : {reseller_email}</p>
<p>Waktu registrasi : {reseller_register_date}</p>
<hr>
</body>
</html>